.rodape {
    position: absolute;
    display: flex;
    bottom: 0;
    width: 100%;
    padding-bottom: 2,5rem;
    gap: 5px;
    justify-content: right;

}

    

    img {
        
        width: 130px;
        height: 70px;
        
    }