@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Indie+Flower&family=Kaushan+Script&family=Lobster&family=Quattrocento&display=swap');
.cabecalho{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgb(172, 174, 248);
    align-items: center;
    text-align: right;
    font-family: 'Lobster', cursive;


}
    
.titulo{
    font-size: 3rem;
    color: #fff;
   text-align: center;

}

.subtitulo{
font-size: 2rem;
}

.foto{
    width: 200px;
    height: 150px;
}
.menu {
    color: aliceblue;
}