.cabecalho{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: black;
    align-items: center;
    text-align: right;


}
    
.titulo{
    font-size: 3rem;
    color: #fff;
   text-align: center;

}

.subtitulo{
font-size: 2rem;
}

.foto{
    width: 200px;
    height: 150px;
}
.menu {
    color: aliceblue;
}